.menu {
    text-align: center;
    width: 100%;
    background-color: #f2f2f2;
}
.menu ul {
   list-style-type: none;
   padding: 0;
   margin: 0;
}
.menu li {
    display: inline;
}
.menu a {
    display: inline-block;
    padding: 20px;
    text-decoration: none;
    color: #333;
}
.busqueda {
    text-align: center;
}
.card img {
    padding: 5px 5px;
    border-radius: 80%;
    max-width: 30%;
    width: auto;
    align-items: center;
}
.card {
    display: flex;
    flex-direction: row;
    box-shadow: 0 4px 8px 0 rgba(5, 0, 0, 0.4);
    max-width: 300px;
    flex: 1 1 30%;
    margin: 30px;
    position: relative;
    padding: 16px;
    background-color: white;
    border-radius: 8px;
}
.container {
    padding: 2px 16px;
    word-wrap: break-word;
    overflow: hidden;
}
.cartas {
    display: flex;
    padding: 10px;
    justify-content: space-around;
    flex-wrap: wrap;
}
.deletebutton {
    position: absolute;
    top: 10px;
    right: 10px;
    background: transparent;
    border: none;
    cursor: pointer;
}
.deletebutton img {
    width: 50px;
}
#agregar {
    text-align: center;
    margin-bottom: 20px;
}
#agregar input {
    margin: 5px;
}

